.Header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: rgb(8, 26, 70);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.Header nav button {
  padding: 0.7rem 1.7rem;
  font-weight: bold;
}

.Header nav ul li.grow {
  flex-grow: 1;
}

.Header nav button:hover {
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
}
