.todoForm {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .todoForm form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .todoForm label {
    display: flex;
    flex-direction: column;
    color: #f39c12;
  }
  
  .todoForm input,
  .todoForm select {
    padding: 8px;
    margin-top: 4px;
    width: 20rem;
  }
  
  .todoForm button {
    background-color: #f39c12;
    color: #2c3e50;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .todoForm button:hover {
    background-color: #d68910;
  }
  